.container h1 {
  font-size: 48px;
}

.jumbotron {
  background-image: url("http://kathrynivy.com/uploads/images/blog/banana_slug3.jpg");
  color: #FFF;
}

@media (min-width: 768px) and (max-width: 991px){
  .change-color {
    background-color: yellow;
  }
}
